$bgImage: 'https://images.unsplash.com/photo-1445820046733-e58f1facc9ef?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1920&fit=max&ixid=eyJhcHBfaWQiOjF9&s=cdd1d818d11b62580c4cc4be58f7f4d7';

// form button color
$form_button_color: #df2359;
$form_button_hover_color: #C0392B;

.authentication-view-container {
    height: 100vh;
    background: url($bgImage) fixed no-repeat;
    background-size: 'cover';
}

.authentication-container {
    width: 350px;
    height: 500px;
    background: inherit;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    margin-top: -250px;
    border-radius: 8px;
}
.authentication-container:before {
    width: 440px;
    height: 550px;
    content: "";
    position: absolute;
    top: -25px;
    left: -25px;
    bottom: 0;
    right: 0;
    background: inherit;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
    filter: blur(10px);
}

form{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }

  form img{
    width: 120px;
    height: 120px;
    border-radius: 100%;
  }

/* input */
input{
    background: 0;
    width: 200px;
    outline: 0;
    border: 0;
    border-bottom: 2px solid rgba(255,255,255, 0.3);
    margin: 20px 0;
    padding-bottom: 10px;
    font-size: 18px;
    color: rgba(255,255,255, 0.8);
  }
  input[type="submit"], .form-button {
    border: 0;
    border-radius: 8px;
    padding-bottom: 0;
    height: 60px;
    background: $form_button_color;
    color: white;
    cursor: pointer;
    transition: all 600ms ease-in-out;
  }
  input[type="submit"]:hover, .form-button:hover {
    background: $form_button_hover_color;
  }

  span a{
    color: rgba(255,255,255, 0.8);
  }