.blur-overlay-container {
    width: 100%;
    height: 100%;
    background: inherit;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.blur-overlay-container:before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: inherit;
    filter: blur(10px);
}