.carousel-container {
    width: 100%;
    height: 100%;

    /* only for this scenario */
    display: block;
}

.carousel-item {
    height: 100% !important;
}

.carousel-item active {
    background-color: transparent !important;
}

.carousel-image {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

.carousel-inner {
    height: 100% !important;
}

.carousel-control-prev, .carousel-control-next {
    cursor: pointer;
    transition: .3s ease !important;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    transition: .3s ease !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-size: inherit !important;
    background-color: #fff;
    border-radius: 999em;
    width: 48px !important;
    height: 48px !important;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08), inset 0 0 0 0 rgba(0,0,0,0.10), inset 0 0 0 0 rgba(255,255,255,0.50);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08), inset 0 0 0 0 rgba(0,0,0,0.10), inset 0 0 0 0 rgba(255,255,255,0.50);
    line-height: 1;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTUuNDEgNy40MUwxNCA2bC02IDYgNiA2IDEuNDEtMS40MUwxMC44MyAxMnoiLz48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PC9zdmc+") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTAgNkw4LjU5IDcuNDEgMTMuMTcgMTJsLTQuNTggNC41OUwxMCAxOGw2LTZ6Ii8+PHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==") !important;
}

.carousel-description-container {
    /* makes it center of carousel */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.9);
    height: 200px;
    width: 200px;
    border-radius: 50%;

    /* makes content inside description to be centered */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}


  @media only screen and (max-width: 767px) {
    .carousel-container {
      display: none;
    }
  }