.authentication-view-container {
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1519670345864-d7d68dcd43ea?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1920&fit=max&ixid=eyJhcHBfaWQiOjF9&s=0f9ebd10326293c54eb46e4bff9d8eb4') fixed no-repeat;
    background-size: 'cover';
}