.roboto-slab {
    font-family: 'Roboto Slab', serif;
}

.roboto-mono {
    font-family: 'Roboto Mono', monospace;
}

.noto-sans {
    font-family: 'Noto Sans', sans-serif;
}

.dancing-script {
    font-family: 'Dancing Script', cursive;
}