html {
  height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
  }

.display-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.display-flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.simple-nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7c4dff;
}

.simple-nav-ul li {
  float: left;
}

.simple-nav-ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
}

.simple-nav-ul li a:hover {
  /* background-color: #3f1dcb; */
}

.text-overflow {
  white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button-text-lower-case div span {
  text-transform: capitalize !important;
}

.button-text-lower-case-disabled span {
  text-transform: capitalize !important;
}

.generic-dashboard-card-title {
  font-weight: bold;
    font-size: 18px;
    padding-left: 24px;
    padding-right: 24px;
    height: 56px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(0, 0, 0);
    position: relative;
}

.button-as-label {
  position: relative;
   padding-left: 16px;
   padding-right: 16px;
   vertical-align: middle;
   letter-spacing: 0px;
   font-weight: 500;
   font-size: 14px;
}

.background-image-full {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-attachment: inherit !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

/* storage */
.storage-list-media-item {
  
  cursor: pointer;
}

.storage-list-image {
  transition: 0.3s ease-out 0s;
  transform: translateY(0px);
}

.storage-list-anchor-item:hover .storage-list-image {
  transform: translateY(-4px) !important;
}

/* svg icons */
.svg-icon-small {
  height: 15px !important;
  width: 15px !important;
}