/* app's main container(all components) */
#main-container {
    height: 100%;
    transition: margin-left 0.3s;
    
    margin-left: 70px;
    margin-top: 72px;
    margin-right: 8px;
    margin-bottom: 8px;
    
    background-color: #f5f5f5;
}

.page-container {
    margin: 8px;
}

/* Box-sizing reset: http://w3bits.com/?p=3225 */
.masonry-container {
    margin: 0;
  }
  
  .masonry {
      column-gap: 1em;
      transition: all .3s ease-in-out;
  }
  
  .masonry-item {
      /* extra */
      box-sizing: border-box;
      transition: all .3s ease-in-out;
  
      display: inline-block;
      margin: 0 0 16px;
      width: 100%;
  }
  
  /* Masonry on large screens */
  @media only screen and (min-width: 1224px) {
      .masonry {
        column-count: 2;
      }
    }
  
    @media only screen and (max-width: 1223px) and (min-width: 1024px) {
      .masonry {
        column-count: 2;
      }
    }
    
    /* Masonry on medium-sized screens */
    @media only screen and (max-width: 1023px) and (min-width: 930px) {
      .masonry {
        column-count: 2;
      }
    }
    
    /* Masonry on small screens */
    @media only screen and (max-width: 929px) and (min-width: 540px) {
      .masonry {
        column-count: 1;
      }
    }

.tabs-generic div button {
  text-transform: capitalize !important;
}