/* fixed app - bar */
#app-bar {
    position: fixed !important;
    width: 100% !important;
    z-index: 2 !important;
    top: 0px !important;
}

#menu-icon {
    display: block;
    transition: 0.3s;
}

.menu-icon-hide {
    display: none !important;
    transition: 0.3s;
}

#menu-icon div svg {
    fill: rgb(255,255,255) !important;
}

/* app container (app header + side navigation ) */
#menu-container {
    transition: margin-left 0.3s;
}

.menu-header {
    margin: 0px;
}

/* The side navigation menu */
#side-nav {
    height: 100%; /* 100% Full-height */
    /*width: 60px;*/ /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
    border-right: 1px solid rgb(224, 224, 224);
}

.side-nav-header {
    width: 100%;
    display: flex;
    padding-bottom: 8px;
    height: 56px !important;
}

.side-nav-open-list-item div div div{
    opacity: 1;

    transition: opacity .3s ease-in;
    -webkit-transition: opacity .3s ease-in; /* Safari */
    -moz-transition: opacity .3s ease-in;
    -ms-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
}

.side-nav-close-list-item div div div{
    opacity: 0;

    transition: opacity .005s ease-in;
    -webkit-transition: opacity .005s ease-in; /* Safari */
    -moz-transition: opacity .005s ease-in;
    -ms-transition: opacity .005s ease-in;
    -o-transition: opacity .005s ease-in;
}